@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --width-desktop: 1440px;
  --width-mobile:  375px;

  --clr-orange: hsl(26, 100%, 55%);
  --clr-pale-orange: hsl(25, 100%, 94%);
  --clr-dark-blue: hsl(220, 13%, 13%);
  --clr-dark-grayish-blue: hsl(219, 9%, 45%);
  --clr-grayish-blue: hsl(220, 14%, 75%);
  --clr-light-grayish-blue: hsl(223, 64%, 98%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-black-lightbox: hsla(0, 0%, 0%, 75%);

  --fs: 16px;
  --ff: 'Kumbh Sans', sans-serif;;
  --fw-1: 400;
  --fw-2: 700;
}

*,::after,::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  font-size: var(--fs);
  padding: 2rem 6rem;
}
main {
  max-width: var(--width-desktop);
  margin: auto;
}
/*
===================================================
              header.js component
===================================================*/
header {
  display: flex;
  justify-content: space-between;
  padding-right: 6rem;
}
.navbar {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5rem;
}

ul {
  display: inline-flex;
  list-style-type: none;
  min-height: 100%;
}
ul a {
  text-decoration: none;
  margin-right: 2rem;
  color: var(--clr-dark-grayish-blue);
  text-transform: capitalize;
  padding-bottom: 3rem;
}
ul a:hover {
  color: var(--clr-black);
  border-bottom: 4px solid var(--clr-orange);
  cursor: pointer;
}
.cart {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1.5rem;
}
.cart-btn {
  width: 40px;
  background: transparent;
  border: none;
  position: relative;
  bottom: 16px;

}
.total {
  font-size: 0.6rem;
  font-weight: var(--fw-2);
  color: var(--clr-white);
  background-color: var(--clr-orange);
  text-align: center;
  border-radius: 12px;
  position: relative;
  bottom: 30px;
  left: 16px;
  width: 24px;
}
.person {
  position: relative;
  bottom: 10px;
}
.person-img {
  width: 3rem;
  position: relative;
}
.person-img:hover {
  border: 2px solid var(--clr-orange);
  border-radius: 50%;
}
.border-line {
  margin-top: 0;
  border-bottom: 1px solid var(--clr-grayish-blue);
}
.sidebar {
  display: none;
}
.hamburger {
  display: none;
}
.close-item {
  display: none;
}
@media only screen and (max-width: 1439px) {
  body {
     /*padding: 2rem 0 6rem 0;*/
      padding: 1rem 0 6rem 0;
  }
  main {
    max-width: var(--width-mobile);
    margin: auto;
  }
  header {
    padding: 1rem 0;
  }
  .navbar {
    grid-column-gap: 1rem;
    padding-left: 1rem;
  }
  .hamburger {
    display: block;
    position: relative;
    background: none;
    border: none;
  }
  nav {
    display: none;
  }
  .cart {
    grid-column-gap: .75rem;
    padding-right: 1rem;
  }
  .cart-btn {
    bottom: 0;
  }
  .cart a {
    height: 0;
  }
  .person {
    bottom: 0;
  }
  .person-img {
    width: 1.6rem;
  }
  .sidebar {    
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
              rgba(0, 0, 0, 0.09) 0px 4px 2px, 
              rgba(0, 0, 0, 0.09) 0px 8px 4px, 
              rgba(0, 0, 0, 0.09) 0px 16px 8px, 
              rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 2.3rem 6rem 0 1.1rem;
    background-color: var(--clr-white);
    z-index: 2;
  }
  .sidebar-btn {
    background: transparent;
    border: none;
  }
  .sidebar-center {
    margin-top: 3rem;
  }
  .sidebar-center ul {
    display: flex;
    flex-direction: column;
  }
  .sidebar-center a {
    padding-bottom: 1.5rem;
    color: var(--clr-black);
    font-weight: 700;
    cursor: pointer;
  }
  .sidebar-center a:hover {
    border-bottom: none;
  }
}
/*
===================================================
              cartDisplay.js component
===================================================*/
.cart-display {
  width: 370px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
              rgba(0, 0, 0, 0.09) 0px 4px 2px, 
              rgba(0, 0, 0, 0.09) 0px 8px 4px, 
              rgba(0, 0, 0, 0.09) 0px 16px 8px, 
              rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 10px;
  padding-bottom: 1.8rem;
  /* position: relative;
  float: right;
  bottom: 2rem; */
  position: absolute;
  right: 9em;
  top: 5rem;
  background-color: var(--clr-white);
}
.cart-title {
  padding: 1.5rem;
}
.cart-title h2 {
  font-size: 1rem;
}
.checkout-center {
  display: flex;
  flex-direction: column;
}
.empty-message {
  height: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-message p {
  font-family: var(--ff);
  color:var(--clr-dark-grayish-blue);
  font-size: 0.875rem;
  font-weight: 600;
}
.hide {
  display: none
}
.checkout {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1.5rem;
}
.checkout-img > img {
  width: 3.2rem;
  border-radius: 5px;
}
.checkout-detail {
  color: var(--clr-dark-grayish-blue);
  line-height: 1.5rem;
}
.checkout-detail p:nth-child(2) {
  letter-spacing: 1px;
}
.checkout-detail span {
  color: var(--clr-black);
  font-weight: var(--fw-2);
}
.trash-btn {
  border: none;
  background-color: var(--clr-white);
  cursor: pointer;
}
.btn-container {
  margin: auto;
  width: 100%;
  padding: 0 1.5rem;
}
.btn {
  width: 100%;
  padding: 1rem 3rem;
  border-radius: 10px;
  border: none;
  background-color: var(--clr-orange);
  color: var(--clr-white);
  font-size: 1rem;
  font-family: var(--ff);
  font-weight: var(--fw-2);
  text-transform: capitalize;
  cursor: pointer;
}

@media only screen and (max-width: 1439px) {
  .cart-container {
    display: flex;
    justify-content: center;
  }
  .cart-display {
    top: 5.5rem;
    left: 0;
    right: 0;
    margin: auto;
    height: 260px;
    width: 360px;
    z-index: 1;
  }
}
@media only screen and (max-width: 374px) {
  .cart-display {
    width: 300px;
  }
}
/*
===================================================
              product.js component
===================================================*/
.product-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  padding: 6rem 4rem;
}
.product-slide {
  width: fit-content;
  padding: 0 1rem;
}
.current-image {
  margin-bottom: 2rem;
}
.current-image img {
  width: 450px;
  border-radius: 1rem;
}
.thumbnail {
  display: flex;
  justify-content: space-between;
}
.img-btn {
  border: none;
}
.thumbnail img {
  width: 6rem;
  border-radius: 10px;
}
.thumbnail img:hover {
  border: 2px solid var(--clr-orange);
  opacity: 0.3;
}
.product-info {
  width: 480px;
  padding-top: 2.5rem;
}
.image-slide {
  display: none;
}
.company-title {
  color: var(--clr-orange);
  text-transform: uppercase;
  font-weight: var(--fw-2);
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.product-info h1 {
  text-transform: capitalize;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}
.more-info {
  line-height: 1.7rem;
  color: var(--clr-dark-grayish-blue);
  margin-bottom: 2rem;
}
.current-price {
  width: fit-content;
}
.current-price h1 {
  font-size: 1.75rem;
  margin: 0;
}
.special-offer {
  background-color: var(--clr-pale-orange);
  padding: 3px 10px;
  color: var(--clr-orange);
  font-weight: var(--fw-2);
  font-size: 1rem;
  position: relative;
  bottom: 5px;
  margin-left: 1rem;
  border-radius: 6px;
}
.old-price p {
  position: relative;
  color: var(--clr-grayish-blue);
  text-decoration: line-through;
  font-weight: var(--fw-2);
}
/*
===================================================
              form.js component
===================================================*/
.form {
  width: 480px;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  margin-top: 1.5rem;
}
.form-center {
  background-color: var(--clr-light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.input {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.input button {
  border: none;
  background-color: transparent;
}
.input span {
  font-weight: var(--fw-2);
}
.number {
  border: none;
  text-align: center;
  background-color: var(--clr-light-grayish-blue);
  font-family: var(--ff);
  font-weight: var(--fw-2);
  font-size: var(--fs);
  width: 10px;
}
.submit-btn {
  width: 100%;
  padding: 1rem 0;
  border-radius: 10px;
  border: none;
  background-color: var(--clr-orange);
  color: var(--clr-white);
  font-size: 1rem;
  font-family: var(--ff);
  font-weight: var(--fw-2);
  text-transform: capitalize;
  cursor: pointer;
}
.submit-btn span > svg {
  margin-right: 1rem;
  position: relative;
  top: 2px;
}
.btn-cart {
  width: 1.2rem;
  fill: white;
}

@media only screen and (max-width: 1439px) {
  .input {
  justify-content: space-between;
  }
  .product-container {
    grid-template-columns: auto;
    grid-column-gap: 0;
    padding: 0;
  }
  .product-info {
    max-width: var(--width-mobile);
    margin: auto;
    padding-top: 0;
  }
  .company-title {
    padding: 1rem 1rem 0 1rem;
  }
  .product-info h1 {
  font-size: 1.75rem;
  line-height: 2rem;
  padding: 0 1rem;
  }
  .more-info {
    padding: 0 1rem;
  }
  .current-image, .thumbnail {
    display: none;
  }
  .pricing {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    max-width: var(--width-mobile);
  }
  .pricing, .form {
    width: 100vw;
  }
  .pricing h1 {
    margin: 0;
    padding: 0;
  }
  .old-price {
    display: flex;
    align-items: center;
  }
  .form {
    display: grid;
    grid-template-columns: auto;
    padding: 0 1rem;
    max-width: var(--width-mobile);
  }
  .input {
    padding: 1rem;
  }
  .submit-btn {
    width: 100%;
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 374px) {
  .more-info {
    width: 100vw;
  }
}
/*===================================================
              productModal.js component
===================================================*/
.product-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: var(--clr-black-lightbox);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.close-center {
  padding: 2rem;
  position: relative;
  left: 210px;
}
.modal-slide {
  width: fit-content;
  padding: 0;
}
.close-btn {
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
}
.top-img {
  display: grid;
  grid-template-columns: auto auto auto;
}
.slide-btn {
  height: fit-content;
  margin: auto;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.prev-btn {
  position: relative;
  left: 20px;
}
.next-btn {
  position: relative;
  right: 20px;
}
@media only screen and (max-width: 1439px) {
  .product-modal {
    display: none;
  }
  .image-slide {
    display: block;
  }
  .image-slide img {
    width: 375px;
  }
  .btn-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 375px;
    width: 375px;
    position: absolute;
  }
  .slide-btn {
    margin: 0;
  }
}
@media screen and (max-width: 374px) {
    .image-slide {
    width: 100vw;
  }
  .image-slide img {
    width: 320px;
  }
  .btn-slide {
    width: 100vw;
  }
  .product-info {
    width: 100vw;
  }

}